# database files (creates on initial load of server)
*/test.db

# dependencies
*/node_modules
*/.pnp
*.pnp.js

# testing
*/coverage

# production
*/build

# misc
.DS_STORE
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
dua_client/src/Videos/testVid3.mp4
dua_server/db/test.db
dua_server/db/test.db
*.db

*.mp4
dua_client/src/views/components/IVA_Components/InteractiveMap.js
