@use "utils" as *;

$color_type_0: rgb(0, 0, 0);

$font_type_0: 500 35px/1.2 "Roboto", Helvetica, Arial, serif;

.group {
  @include flex-column;
  width: 764px;
  height: 90px;
  position: relative;
  min-width: 764px;
}
.image {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: relative;
}
.big_title {
  @include h-center-content;
  font: $font_type_0;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  height: 42px;
  @include mq-between(sm, md) {
    font-size: 28px;
    text-align: center;
  }
  @include sm {
    font-size: 24px;
  }
  @include xs {
    font-size: 20px;
  }
  position: absolute;
  top: -39px;
  left: 101px;
  right: 70px;
}
