@use "utils" as *;

$color_type_0: rgb(0, 0, 0);
$color_type_1: rgb(176, 0, 32);
$color_type_2: rgb(255, 255, 255);
$color_type_3: rgb(3, 54, 255);

$border_radius_type_0: 20px 20px 20px 20px;
$border_radius_type_1: 48px 48px 48px 48px;

$font_type_0: 700 50px/0.52 "Roboto", Helvetica, Arial, serif;
$font_type_1: 500 50px/0.52 "Roboto", Helvetica, Arial, serif;
$font_type_2: 500 35px/1.2 "Roboto", Helvetica, Arial, serif;
$font_type_3: 500 35px/0.65 "Roboto", Helvetica, Arial, serif;

.root {
  @include flex-column;
  background-color: $color_type_2;
  position: relative;
  overflow: hidden;
}
.row {
  display: flex;
  @include xl {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    column-gap: 0px;
    row-gap: 16px;
  }
  position: relative;
  flex-grow: 1;
  margin: 18px 23px 52px 39px;
  @include lg {
    margin: 18px 23px 52px 32px;
  }
  @include md {
    margin: 18px 16px 52px 28px;
  }
  @include sm {
    margin: 18px 12px 52px 20px;
  }
  @include xxs {
    margin: 18px 12px 52px 16px;
  }
  @include tn {
    margin: 18px 8px 52px 16px;
  }
}
.row__item {
  @include flex-column;
  position: relative;
  flex: 1 1 1302px;
  @include xl {
    flex: 0 0 100%;
  }
}
.col {
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.col__item {
  @include flex-column;
  position: relative;
}
.content_box {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_1;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  flex-grow: 1;
  margin: 0px 26px;
  @include lg {
    margin: 0px 20px;
  }
  @include md {
    margin: 0px 16px;
  }
  @include xs {
    margin: 0px 12px;
  }
}
.hero_title1 {
  @include v-center-content;
  justify-content: center;
  font: $font_type_0;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0.6px;
  width: 100%;
  height: 100%;
  @include lg {
    font-size: 44px;
    text-align: center;
  }
  @include md {
    font-size: 36px;
  }
  @include sm {
    font-size: 32px;
  }
  @include xs {
    font-size: 28px;
  }
  @include tn {
    font-size: 24px;
  }
}
.box {
  @include flex-column;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.149);
  outline: 2px solid rgb(204, 204, 204);
  outline-offset: -2px;
  position: relative;
  margin: 29px 0px 0px;
}
.content_box1 {
  @include flex-column;
  background-color: $color_type_2;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.149);
  position: relative;
  flex-grow: 1;
  margin: 116px 38px 30px;
  @include lg {
    margin: 116px 32px 30px;
  }
  @include md {
    margin: 116px 24px 30px;
  }
  @include sm {
    margin: 116px 20px 30px;
  }
  @include xxs {
    margin: 116px 16px 30px;
  }
}
.col1 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
  margin: 36px 0px 34px 33px;
  @include lg {
    margin: 36px 0px 34px 28px;
  }
  @include md {
    margin: 36px 0px 34px 24px;
  }
  @include sm {
    margin: 36px 0px 34px 20px;
  }
  @include xs {
    margin: 36px 0px 34px 16px;
  }
  @include tn {
    margin: 36px 0px 34px 12px;
  }
}
.row1 {
  display: flex;
  @include xl {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    column-gap: 0px;
    row-gap: 16px;
  }
  position: relative;
}
.row1__item {
  @include flex-column;
  position: relative;
  flex: 1 1 355px;
  @include xl {
    flex: 0 0 100%;
  }
}
.box3 {
  @include flex-column;
  background-color: $color_type_3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  flex-grow: 1;
  margin: 4px 0px 13px;
}
.hero_title2 {
  @include v-center-content;
  justify-content: center;
  font: $font_type_3;
  color: $color_type_2;
  text-align: center;
  letter-spacing: 0.48px;
  @include lg {
    font-size: 36px;
    text-align: center;
    margin: 36px 24px 38px;
  }
  @include md {
    font-size: 32px;
    margin: 36px 20px 38px;
  }
  @include sm {
    font-size: 28px;
    margin: 36px 16px 38px;
  }
  @include xs {
    font-size: 24px;
  }
  @include tn {
    font-size: 20px;
  }
  position: relative;
  flex-grow: 1;
  margin: 36px 28px 38px;
  @include xxs {
    margin: 36px 12px 38px;
  }
}
.row1__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 74px;
  @include xl {
    display: none;
  }
}
.row1__item1 {
  @include flex-column;
  position: relative;
  flex: 1 1 764px;
  @include xl {
    flex: 0 0 100%;
  }
}
.big_title {
  @include h-center-content;
  font: $font_type_2;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
  @include md {
    font-size: 28px;
    text-align: center;
  }
  @include sm {
    font-size: 24px;
  }
  @include xs {
    font-size: 20px;
  }
}
.col__item1 {
  @include flex-column;
  position: relative;
}
.image3 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: relative;
  margin: 3px 0px 0px;
}
.col1__item {
  @include flex-column;
  position: relative;
}
.image4 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.row__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 36px;
  @include xl {
    display: none;
  }
}
.row__item1 {
  @include flex-column;
  position: relative;
  flex: 1 1 520px;
  @include xl {
    flex: 0 0 100%;
  }
}
.col2 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
  margin: 1px 0px 0px;
}
.col2__item {
  @include flex-column;
  position: relative;
}
.box2 {
  @include flex-column;
  background-color: $color_type_1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 0px 2px;
}
.hero_title {
  @include v-center-content;
  justify-content: center;
  font: $font_type_1;
  color: $color_type_2;
  text-align: center;
  letter-spacing: 0.6px;
  width: 100%;
  height: 100%;
  @include lg {
    font-size: 44px;
    text-align: center;
  }
  @include md {
    font-size: 36px;
  }
  @include sm {
    font-size: 32px;
  }
  @include xs {
    font-size: 28px;
  }
  @include tn {
    font-size: 24px;
  }
}
.box1 {
  @include flex-column;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.149);
  outline: 2px solid rgb(204, 204, 204);
  outline-offset: -2px;
  height: 799px;
  position: relative;
  margin: 70px 2px 0px 0px;
}
.col3 {
  @include flex-column;
  width: 460px;
  height: 586px;
  position: absolute;
  top: 101px;
  right: 29px;
}
.col3__item {
  @include flex-column;
  position: relative;
}
.content_box2 {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  flex-grow: 1;
  margin: 0px 8px 0px 0px;
  @include lg {
    margin: 0px 4px 0px 0px;
  }
}
.icon {
  width: 78px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 13px;
  left: 22px;
}
.content_box11 {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  flex-grow: 1;
  margin: 52px 6px 0px 2px;
}
.image {
  width: 81px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 15px;
  left: 15px;
}
.content_box12 {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  flex-grow: 1;
  margin: 50px 0px 0px 8px;
  @include lg {
    margin: 50px 0px 0px 4px;
  }
}
.image1 {
  width: 90px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 24px;
  left: 9px;
}
.content_box3 {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  flex-grow: 1;
  margin: 50px 0px 0px 8px;
  @include lg {
    margin: 50px 0px 0px 4px;
  }
}
.image2 {
  width: 81px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 16px;
  left: 21px;
}
