@use "utils" as *;

$color_type_0: rgb(0, 0, 0);
$color_type_1: rgb(176, 0, 32);
$color_type_2: rgb(255, 255, 255);
$color_type_3: rgb(60, 64, 67);

$border_radius_type_0: 20px 20px 20px 20px;

$font_type_0: 500 50px/0.52 "Roboto", Helvetica, Arial, serif;
$font_type_1: 500 35px/1.2 "Roboto", Helvetica, Arial, serif;
$font_type_2: 400 35px/0.74 "Roboto", Helvetica, Arial, serif;
$font_type_3: 400 30px/0.74 "Roboto", Helvetica, Arial, serif;
$font_type_4: 500 28px/1.2 "Roboto", Helvetica, Arial, serif;

.root {
  @include flex-column;
  background-color: $color_type_2;
  position: relative;
  overflow: hidden;
}
.big_title1 {
  @include v-center-content;
  @include font-face($font_type_2, $color_type_3, 0.42px);
  width: 929px;
  height: 104px;
  position: absolute;
  top: 6px;
  left: 39px;
}
.row {
  display: flex;
  position: relative;
  flex-grow: 1;
  margin: 0px 23px 52px 0px;
}
.box {
  @include flex-column;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.149);
  outline: 2px solid rgb(204, 204, 204);
  outline-offset: -2px;
  height: 800px;
  position: relative;
  flex: 0 1 1302px;
  margin: 194px 0px 0px;
  @include xxl {
    margin: 194px 23px 0px 0px;
  }
}
.big_title11 {
  @include v-center-content;
  @include font-face($font_type_3, $color_type_3, 0.42px);
  width: 1302px;
  height: 54px;
  position: absolute;
  top: -67px;
  right: 0px;
}
.col {
  @include flex-column;
  height: 800px;
  position: relative;
  margin: 1px 0px 0px;
}
.row1 {
  display: flex;
  position: relative;
}
.content_box4 {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px;
  position: relative;
  flex: 0 1 450px;
  margin: 11px 0px 29px 20px;
}
.big_title {
  @include h-center-content;
  font: $font_type_1;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 81.33%;
  position: relative;
  flex-grow: 1;
  margin: 27px auto 32px;
}
.row1__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 54px;
}
.col1 {
  @include flex-column;
  position: relative;
  flex: 0 1 764px;
}
.big_title2 {
  @include h-center-content;
  font: $font_type_1;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 77.62%;
  position: relative;
  margin: 0px 9.16% 0px 13.22%;
}
.col1__item {
  @include flex-column;
  position: relative;
}
.image {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: relative;
  margin: 7px 0px 0px;
}
.image4 {
  width: 84.94%;
  height: 544px;
  background: var(--src) center center / cover no-repeat;
  position: relative;
  margin: 38px auto 0px;
}
.row__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 36px;
}
.col2 {
  @include flex-column;
  position: relative;
  flex: 0 1 520px;
}
.box2 {
  @include flex-column;
  background-color: $color_type_1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  margin: 27px 0px 0px 2px;
}
.hero_title {
  @include v-center-content;
  justify-content: center;
  font: $font_type_0;
  color: $color_type_2;
  text-align: center;
  letter-spacing: 0.6px;
  width: 57.92%;
  position: relative;
  flex-grow: 1;
  margin: 40px auto;
}
.group {
  @include flex-column;
  height: 799px;
  position: relative;
  margin: 60px 2px 0px 0px;
}
.col3 {
  @include flex-column;
  position: absolute;
  top: 101px;
  bottom: 112px;
  left: 29px;
  right: 29px;
}
.group1 {
  @include flex-column;
  height: 108px;
  position: relative;
}
.content_box3 {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 8px;
}
.icon {
  width: 78px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 13px;
  left: 22px;
}
.big_title3 {
  @include h-center-content;
  font: $font_type_4;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 443px;
  position: absolute;
  top: 37px;
  bottom: 14px;
  left: 0px;
  min-width: 443px;
  margin: 0px 0px 0px 17px;
}
.group2 {
  @include flex-column;
  height: 109px;
  position: relative;
  margin: 52px 6px 0px 2px;
}
.content_box2 {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.image1 {
  width: 81px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 15px;
  left: 15px;
}
.big_title4 {
  @include h-center-content;
  font: $font_type_4;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 55.97%;
  position: absolute;
  top: 40px;
  bottom: 29px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}
.group3 {
  @include flex-column;
  height: 109px;
  position: relative;
  margin: 50px 0px 0px 8px;
}
.content_box1 {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.image2 {
  width: 90px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 24px;
  left: 9px;
}
.big_title5 {
  @include h-center-content;
  font: $font_type_4;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 73.01%;
  position: absolute;
  top: 42px;
  bottom: 18px;
  min-height: 49px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}
.group4 {
  @include flex-column;
  height: 108px;
  position: relative;
  margin: 50px 0px 0px 8px;
}
.content_box {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.image3 {
  width: 81px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 16px;
  left: 21px;
}
.big_title6 {
  @include h-center-content;
  font: $font_type_4;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 37.39%;
  position: absolute;
  top: 33px;
  bottom: 32px;
  left: 0px;
  right: 0px;
  margin: 0px 33.19% 0px 29.42%;
}
.box1 {
  @include flex-column;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.149);
  outline: 2px solid rgb(204, 204, 204);
  outline-offset: -2px;
  height: 800px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  @include xxl {
    margin: 0px;
  }
}
