@use "utils" as *;

$color_type_0: rgb(0, 0, 0);
$color_type_1: rgb(176, 0, 32);
$color_type_2: rgb(255, 255, 255);
$color_type_3: rgb(3, 54, 255);
$color_type_4: rgb(60, 64, 67);

$border_radius_type_0: 20px 20px 20px 20px;

$font_type_0: 700 50px/0.52 "Roboto", Helvetica, Arial, serif;
$font_type_1: 500 50px/0.52 "Roboto", Helvetica, Arial, serif;
$font_type_2: 500 40px/0.65 "Roboto", Helvetica, Arial, serif;
$font_type_3: 500 35px/1.2 "Roboto", Helvetica, Arial, serif;
$font_type_4: 400 35px/0.74 "Roboto", Helvetica, Arial, serif;

.root {
  @include flex-column;
  background-color: $color_type_2;
  position: relative;
  overflow: hidden;
}
.row {
  display: flex;
  @include xl {
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 0px;
    row-gap: 16px;
  }
  position: relative;
  flex-grow: 1;
  margin: 40px 23px 52px 39px;
  @include lg {
    margin: 40px 23px 52px 32px;
  }
  @include md {
    margin: 40px 16px 52px 28px;
  }
  @include sm {
    margin: 40px 12px 52px 20px;
  }
  @include xxs {
    margin: 40px 12px 52px 16px;
  }
  @include tn {
    margin: 40px 8px 52px 16px;
  }
}
.row__item {
  @include flex-column;
  position: relative;
  flex: 1 1 1302px;
  @include xl {
    flex: 0 0 100%;
  }
}
.col {
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.big_title {
  @include v-center-content;
  @include font-face($font_type_4, $color_type_4, 0.42px);
  width: 39.78%;
  @include md {
    font-size: 28px;
    text-align: left;
  }
  @include sm {
    font-size: 24px;
  }
  @include xs {
    font-size: 20px;
  }
  position: relative;
  margin: 0px 60.22% 0px 0%;
}
.col1 {
  @include flex-column;
  position: relative;
  margin: 48px 0px 0px;
}
.big_title1 {
  @include v-center-content;
  @include font-face($font_type_4, $color_type_4, 0.42px);
  @include md {
    font-size: 28px;
    text-align: left;
  }
  @include sm {
    font-size: 24px;
  }
  @include xs {
    font-size: 20px;
  }
  position: relative;
}
.box {
  @include flex-column;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.149);
  outline: 2px solid rgb(204, 204, 204);
  outline-offset: -2px;
  position: relative;
  margin: 54px 0px 0px;
}
.content_box {
  @include flex-column;
  background-color: $color_type_2;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.149);
  position: relative;
  flex-grow: 1;
  margin: 116px 38px 31px;
  @include lg {
    margin: 116px 32px 31px;
  }
  @include md {
    margin: 116px 24px 31px;
  }
  @include sm {
    margin: 116px 20px 31px;
  }
  @include xxs {
    margin: 116px 16px 31px;
  }
}
.col2 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
  margin: 187px 0px 133px;
}
.hero_title2 {
  @include v-center-content;
  justify-content: center;
  font: $font_type_0;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0.6px;
  @include lg {
    font-size: 44px;
    text-align: center;
  }
  @include md {
    font-size: 36px;
  }
  @include sm {
    font-size: 32px;
  }
  @include xs {
    font-size: 28px;
  }
  @include tn {
    font-size: 24px;
  }
  position: relative;
  min-height: 109px;
}
.row1 {
  display: flex;
  width: 74.06%;
  position: relative;
  margin: 126px auto 0px;
  @include md {
    width: 79.2%;
  }
  @include sm {
    width: 83.55%;
  }
  @include xs {
    width: 87.13%;
  }
  @include xxs {
    width: 90.03%;
  }
  @include tn {
    width: 92.33%;
  }
}
.box1 {
  @include flex-column;
  background-color: $color_type_3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  flex: 0 1 355px;
}
.hero_title {
  @include v-center-content;
  justify-content: center;
  font: $font_type_2;
  color: $color_type_2;
  text-align: center;
  letter-spacing: 0.48px;
  width: 42.54%;
  @include lg {
    font-size: 36px;
    text-align: center;
  }
  @include md {
    font-size: 32px;
  }
  @include sm {
    font-size: 28px;
  }
  @include xs {
    font-size: 24px;
  }
  @include tn {
    font-size: 20px;
  }
  position: relative;
  flex-grow: 1;
  min-height: 73px;
  margin: 13px auto 14px;
}
.row1__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 191px;
}
.box2 {
  @include flex-column;
  background-color: $color_type_2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  flex: 0 1 355px;
}
.hero_title1 {
  @include v-center-content;
  justify-content: center;
  font: $font_type_2;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0.48px;
  width: 57.75%;
  @include lg {
    font-size: 36px;
    text-align: center;
  }
  @include md {
    font-size: 32px;
  }
  @include sm {
    font-size: 28px;
  }
  @include xs {
    font-size: 24px;
  }
  @include tn {
    font-size: 20px;
  }
  position: relative;
  flex-grow: 1;
  min-height: 32px;
  margin: 34px auto;
}
.row__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 36px;
  @include xl {
    display: none;
  }
}
.row__item1 {
  @include flex-column;
  position: relative;
  flex: 1 1 520px;
  @include xl {
    flex: 0 0 100%;
  }
}
.box4 {
  @include flex-column;
  background-color: $color_type_1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  margin: 0px 0px 0px 2px;
}
.hero_title3 {
  @include v-center-content;
  justify-content: center;
  font: $font_type_1;
  color: $color_type_2;
  text-align: center;
  letter-spacing: 0.6px;
  width: 57.92%;
  @include lg {
    font-size: 44px;
    text-align: center;
  }
  @include md {
    font-size: 36px;
  }
  @include sm {
    font-size: 32px;
  }
  @include xs {
    font-size: 28px;
  }
  @include tn {
    font-size: 24px;
    width: 64.72%;
  }
  position: relative;
  flex-grow: 1;
  min-height: 36px;
  margin: 40px auto;
}
.box3 {
  @include flex-column;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.149);
  outline: 2px solid rgb(204, 204, 204);
  outline-offset: -2px;
  height: 799px;
  position: relative;
  margin: 40px 2px 0px 0px;
}
.col3 {
  @include flex-column;
  width: 460px;
  height: 586px;
  position: absolute;
  top: 101px;
  right: 29px;
}
.content_box1 {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  margin: 0px 8px 0px 0px;
  @include lg {
    margin: 0px 4px 0px 0px;
  }
}
.big_title11 {
  @include h-center-content;
  font: $font_type_3;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 66.37%;
  @include md {
    font-size: 28px;
    text-align: center;
  }
  @include sm {
    font-size: 24px;
  }
  @include xs {
    font-size: 20px;
  }
  position: relative;
  flex-grow: 1;
  margin: 25.5px 4.87% 25.5px 28.76%;
}
.icon {
  width: 78px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 13px;
  left: 22px;
}
.content_box11 {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  margin: 52px 6px 0px 2px;
}
.big_title12 {
  @include h-center-content;
  font: $font_type_3;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 55.97%;
  @include md {
    font-size: 28px;
    text-align: center;
  }
  @include sm {
    font-size: 24px;
  }
  @include xs {
    font-size: 20px;
  }
  position: relative;
  flex-grow: 1;
  margin: 40px auto 27px;
}
.image {
  width: 81px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 15px;
  left: 15px;
}
.content_box12 {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  margin: 50px 0px 0px 8px;
  @include lg {
    margin: 50px 0px 0px 4px;
  }
}
.big_title13 {
  @include h-center-content;
  font: $font_type_3;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 73.01%;
  @include md {
    font-size: 28px;
    text-align: center;
  }
  @include sm {
    font-size: 24px;
  }
  @include xs {
    font-size: 20px;
  }
  position: relative;
  flex-grow: 1;
  min-height: 49px;
  margin: 42px auto 18px;
  @include tn {
    width: 78.29%;
  }
}
.image1 {
  width: 90px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 24px;
  left: 9px;
}
.content_box2 {
  @include flex-column;
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  margin: 50px 0px 0px 8px;
  @include lg {
    margin: 50px 0px 0px 4px;
  }
}
.big_title14 {
  @include h-center-content;
  font: $font_type_3;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  width: 37.39%;
  @include md {
    font-size: 28px;
    text-align: center;
  }
  @include sm {
    font-size: 24px;
  }
  @include xs {
    font-size: 20px;
  }
  position: relative;
  flex-grow: 1;
  min-height: 43px;
  margin: 33px 33.19% 32px 29.42%;
}
.image2 {
  width: 81px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 16px;
  left: 21px;
}
