.header {
  color:  black;
  text-align: center;

}

.waiting {
  color: black;
  text-align: center;
}

.dua-btn {
  width: 150px;
  height: 40px;
  position: relative;
}

.quick-align{
  position: relative;
  left: 35%
}
.dua-general {
  display: grid;
  grid-auto-rows: 25%
}
.dua-setup {
  display: grid;
  grid-auto-rows: 30%
}

.submission-form {
  width: 100%;
  justify-content: center;
  text-align:center;
  padding-top:1em;
}

.id-textbox {
  border-radius:5%;
}

.test {
  height: 100vh;
  text-align:  center;
}

.view{
  height:  100%; 
}

.fullScreen{
  max-width:  100%;
  min-width: 100%;
  min-height: 100%;  
  width:  100%;
  height:  100%; 
  top:  0%;
  left:  0%;
  position: fixed; 
  transform: scale(110%);
/*   transform:  translate(50%,50%);   */
}

.player{
  margin: 0; 
  padding: 0;
/*   display: block; 
  flex-grow: 1;  */
  position: fixed;
  border: none;

}

.hidden{
  animation: fadeOut 0.5s linear forwards;
}

.shown{
  animation: fadeIn 0.5s linear forwards;
}

.on{
  
}

.off{
  display: none;
}

/*---------------------------------------------------------------------------
  From: https://learn.microsoft.com/en-us/dual-screen/web/css-viewport-segments
  ---------------------------------------------------------------------------*/
.TestingDisplay{
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.screen0{
   /* grow: no, shrink: no, basis: fold-left */
   flex: 0 0 env(viewport-segment-right 0 0);

   /* equals to margin-right when writing mode is left-to-right (english)  */
   /* equals to margin-left when writing mode is right-to-left (arabic, hebrew)  */
   /* this will prevent content from being rendered behind the device mask */
   transform: translate(0,2%);
   margin-inline-end: calc(env(viewport-segment-left 1 0) - env(viewport-segment-right 0 0)) ; /* hinge width */
   overflow: visible;
}

.screen1{
   /* fill the rest of the space */
    height: 100vh; 
    flex: 0;

   margin: 0;
   overflow: hidden;
}

/*----------------------------------------------------------------------------
  End 
------------------------------------------------------------------------------*/
.screen-holder{
  transform: scale(0.8) translate(0%,-7%);
  overflow: hidden;
  text-align: center;
  top: 100%;
  position: relative;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.screenLink {
  text-decoration: none;
}

